<h1>HOLA SOY APP</h1>

<!-- de esta forma le enviamos las props a app-home, similar a la de REACT - hay que vigilar la asignación de nombres -->
<app-home [personitas]="personas"></app-home>
<app-home (sonEvent)="sonMessage()"></app-home>
<app-home></app-home>

<h2>{{personas[0].nombre}}</h2>
<h2>Estoy vivo?? {{personas[0].alive ? "si" : "no"}}</h2>

<p *ngIf="personas[0].alive">Estoy vivo!!!</p>

<!-- el ng-Template no se muestra en la estructura de la web si no se cumple la condición -->
<ng-template [ngIf]="personas.length > 0">
  <!-- interruptor que cambia de clase se´gun si está encendido o apagado -->
  <div *ngFor="let persona of personas; let i = index" [ngClass]="interruptor ? 'claro' : 'oscuro'">
    <h2>{{i+1}}.{{persona.nombre}}</h2>
    <h2>{{persona.edad}}</h2>
  </div>
</ng-template>

<!-- cuidado con el activador!!! no es onclick ni onClick... es click -->
<button (click)="pressInterruptor()">Click Me Please</button>


<h1>LIBRERIA</h1>

<app-libreria></app-libreria>
