<h1>HOLA SOY APP</h1>

<app-home></app-home>
<app-home></app-home>
<app-home></app-home>

<h2>{{personas[0].nombre}}</h2>
<h2>Estoy vivo?? {{personas[0].alive ? "si" : "no"}}</h2>

<p *ngIf="personas[0].alive">Estoy vivo!!!</p>

<!-- el ng-Template no se muestra en la estructura de la web si no se cumple la condición -->
<ng-template [ngIf]="personas.length > 0">
  <div *ngFor="let persona of personas; let i = index">
    <h2>{{i+1}}.{{persona.nombre}}</h2>
    <h2>{{persona.edad}}</h2>
  </div>
</ng-template>

